@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  @apply font-roboto;
}

a {
  @apply text-white no-underline;
}
ul {
  @apply list-none;
}
.MuiDrawer-paper {
  background: none;
  @apply py-4;
}

.cart-gradient {
  background: #361968
    linear-gradient(120deg, #83147f 0%, #361968 21%, #0f0c1f 100%);
}

.trade-gradient {
  background: #361968
    linear-gradient(220deg, #83147f 0%, #361968 21%, #0f0c1f 100%);
}
